{:ownership/id          {:db/unique :db.unique/identity}
 :ownership/parcel      {:db/index true}
 :ownership/holder      {:db/index true}
 :ownership/holder-id   {:db/index true}
 :ownership/source      {:db/index true}
 :ownership/observed-at {:db/index true}
 :ownership/disclosure  {:db/index true}
 :ubo/id                {:db/unique :db.unique/identity}
 :ubo/company-id        {:db/index true}
 :ubo/person-id         {:db/index true}
 :ubo/person-name       {:db/index true}
 :ubo/source            {:db/index true}
 :ubo/observed-at       {:db/index true}
 :ubo/disclosure        {:db/index true}
 :legal-entity/lei      {:db/unique :db.unique/identity}
 :legal-entity/name     {:db/index true}
 :corporate-relation/id {:db/unique :db.unique/identity}
 :corporate-relation/child-lei {:db/index true}
 :corporate-relation/parent-lei {:db/index true}}
