{:paths ["src"]
 :deps {io.github.kotoba-lang/datalog {:git/url "https://github.com/kotoba-lang/datalog.git"
                                       :git/sha "d18513af533917539c56435de6fb1426738da31a"}
        io.github.kotoba-lang/edn {:git/url "https://github.com/kotoba-lang/edn.git"
                                  :git/sha "250f4dafa5f5c7fb3109703496a52866e2a62dcd"}}}
